.header {
    background-image: url('https://media4.s-nbcnews.com/i/newscms/2017_26/2053956/170627-better-grocery-store-main-se-539p_80a9ba9c8d466788799ca27568ee0d43.jpg');
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    font-size: 16px;
    position: relative;
    margin-bottom: 30px;
    .header__nav {
        background-color: rgba($color: #ffffff, $alpha: 0.8);
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        .header__nav-link {
            display: inline-block;
            height: 3em;
            line-height: 3em;
            padding: 0 20px;
            color: #333;
            text-align: center;
            background-color: transparent;
            transition: all ease 0.7s;
            position: relative;
            &:hover {
                text-decoration: none;
                background-color: #aaaaaa;
            }
        }
    }
}